DEV=tun0
# Fill in your output interface
OUT_DEV=eth0
OUT_VIA=$(ip route show default dev $OUT_DEV | awk '{print $3; exit}')
# Fill in your local network interface
SRC_DEV=br0
TUNIP=192.168.128.1
TUNNET=$TUNIP/32
IPSET_NAME=XRAY_IPSET
NFT_TABLE=xray
NFT_SET=freedom
XRAY_CONFIG=xray_config.client.json
PROXY_IN_MARK=777
PROXY_IN_TABLE=134
PROXY_OUT_TABLE=135
EXTRA_ROUTES_SCRIPT=$CURRENTDIR/extra_routes.sh